.f-left {
    float: left;
}

.f-44 {
    font-size: 44px;
    color: #000
}

.active {
    border: 2px solid;
    border-color: #f44336 !important;
    color: #f44336 !important;
}

.active .material-icons {
    line-height: 25px;
}

.no-line {
    border-bottom: 0px !important;
}

.color-picker {
    height: 75px !important;
}
.more-info {
    height: 138px !important;
}