<!-- Fixed Plugin configurator, used just for Demo Purpose -->
<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title"> Background-color</li>
            <li class="adjustments-line no-line">
                <button type="button" onClick="event.preventDefault();" mat-raised-button mat-min-fab class="btn btn-danger btn-round btn-fab btn-sm color-change" title="Font color" id="bt-font">
                    <i class="material-icons">format_color_text</i>
                </button>
                <button mat-raised-button mat-min-fab class="btn btn-success btn-round btn-fab btn-sm color-change" title="Border/Line color" id="bt-stroke">
                    <i class="material-icons">border_color</i>
                </button>
                <button mat-raised-button mat-min-fab class="btn btn-warning btn-round btn-fab btn-sm color-change" title="Background-Color" id="bt-background">
                    <i class="material-icons">format_color_fill</i>
                </button>
            </li>
            <li class="adjustments-line color-picker">
                <a href="javascript:void(0)" class="switch-trigger" id="a-color-picker">
                  <div class="ml-auto mr-auto">
                    <span class="badge filter badge-purple" data-color="#9c27b0"></span>
                    <span class="badge filter badge-azure" data-color="#00bcd4"></span> <!--add active class to set active badger-->
                    <span class="badge filter badge-green" data-color="#4caf50"></span>
                    <span class="badge filter badge-orange" data-color="#ff9800"></span>
                    <span class="badge filter badge-danger" data-color="#f44336"></span>
                    <span class="badge filter badge-rose" data-color="#e91e63"></span>
                    <span class="badge filter badge-white" data-color="white"></span>
                    <span class="badge filter badge-grey" data-color="#bcbcbc"></span>
                    <span class="badge filter badge-black" data-color="black"></span>
                    <span class="badge filter badge-purple" data-color="#9c27b0"></span>
                    <span class="badge filter badge-azure" data-color="#00bcd4"></span> <!--add active class to set active badger-->
                    <span class="badge filter badge-green" data-color="#4caf50"></span>
                    <span class="badge filter badge-orange" data-color="#ff9800"></span>
                    <span class="badge filter badge-danger" data-color="#f44336"></span>
                    <span class="badge filter badge-rose" data-color="#e91e63"></span>
                    <span class="badge filter badge-white" data-color="white"></span>
                    <span class="badge filter badge-grey" data-color="#bcbcbc"></span>
                    <span class="badge filter badge-black" data-color="black"></span>
                  </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Operations</li>
            <li class="adjustments-line">
                    <button mat-raised-button mat-min-fab class="btn btn-danger btn-round btn-fab btn-sm" title="Create a new map" id="bt-new-map">
                        <i class="material-icons">add</i>
                    </button>
                    <button mat-raised-button mat-min-fab class="btn btn-success btn-round btn-fab btn-sm" title="Save as new map" id="bt-save">
                        <i class="material-icons">save</i>
                    </button>
                    <button mat-raised-button mat-min-fab class="btn btn-warning btn-round btn-fab btn-sm" title="Save as new version" id="bt-version" [disabled]="!mapService.getCurrentMap()">
                        <i class="material-icons">call_split</i>
                    </button>
            </li>
            <li class="header-title">Advanced Operations</li>
            <li class="adjustments-line">
                    <button mat-raised-button mat-min-fab class="btn btn-info btn-round btn-fab btn-sm" title="Create a new map" id="bt-new-map">
                        <i class="material-icons">spellcheck</i>
                    </button>
            </li>
            <li class="adjustments-line">
              <a href="javascript:void(0)" class="switch-trigger">
                  <p>Sidebar Mini</p>
                  <label class="ml-auto">
                    <div class="togglebutton switch-sidebar-mini">
                      <label>
                          <input type="checkbox">
                              <span class="toggle"></span>
                      </label>
                    </div>
                  </label>
                  <div class="clearfix"></div>
                  <div class="ripple-container"></div>
              </a>
            </li>
            <li class="adjustments-line">
              <a href="javascript:void(0)" class="switch-trigger">
                  <p>Sidebar Images</p>
                  <label class="switch-mini ml-auto">
                    <div class="togglebutton switch-sidebar-image">
                      <label>
                          <input type="checkbox" checked="">
                            <span class="toggle"></span>
                      </label>
                    </div>
                  </label>
                  <div class="clearfix"></div>
                  <div class="ripple-container"></div>
              </a>
            </li>
            <li class="header-title">Images</li>
            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="./assets/img/sidebar-1.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="./assets/img/sidebar-2.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="./assets/img/sidebar-3.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="./assets/img/sidebar-4.jpg" alt="" />
                </a>
            </li>
            
        </ul>
    </div>
</div>
