<div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
    <form class="form" [formGroup]="senhaForm">
        <div class="card card-login card-hidden">
            <div class="card-header card-header-danger text-center">
                <h4 class="card-title">Gerar Nova Senha</h4>
            </div>
            <div class="card-body ">
                <span class="bmd-form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" [ngClass]="{'has-error':!senhaForm.controls['senha1'].valid && senhaForm.controls['senha1'].touched}">
                                <i class="material-icons">lock_outline</i>
                            </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Digite sua nova senha" formControlName="senha1" name="password">
                    </div>
                </span>
                <span class="bmd-form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" [ngClass]="{'has-error':!senhaForm.controls['senha2'].valid && senhaForm.controls['senha2'].touched}">
                                <i class="material-icons">lock_outline</i>
                            </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Digite sua nova senha mais uma vez" formControlName="senha2" name="password">
                    </div>
                </span>
            </div>
            <span class="has-error" *ngIf="(senhaForm.controls['senha2'].invalid && senhaForm.controls['senha2'].touched) || (senhaForm.controls['senha1'].invalid && senhaForm.controls['senha1'].touched)">Sua senha precisa ter no minimo 6 digitos</span>
            <span class="has-error" *ngIf="senhaForm.controls['senha2'].value != senhaForm.controls['senha1'].value && (senhaForm.controls['senha1'].touched && senhaForm.controls['senha2'].touched)">As duas senhas precisam ser iguais</span>
            <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-rose btn-link btn-lg" (click)="sendNewPass()" [disabled]="!senhaForm.valid">Enviar</button>
            </div>
        </div>
    </form>
</div>
