      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
        <form class="form"  action="">
          <div class="card card-login card-hidden">
            <div class="card-header card-header-danger text-center">
                <h4 class="card-title">Redefinir sua Senha</h4>
            </div>
            <div class="card-body ">
                <span class="bmd-form-group">
                    <div class="input-group">
                      <span class="text-center" ><strong>Digite seu endereço de e-mail e nós iremos enviar um link para redefinir sua senha.</strong></span>
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">mail</i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email..." [(ngModel)]="email" name="username" (keyup.enter)='recuperarSenha()'>
                    </div>
                </span>
            </div>
            <div class="card-footer justify-content-center">
              <button type="submit" class="btn btn-rose btn-link btn-lg" (click)='recuperarSenha()'>Recuperar Senha</button>
            </div>
          </div>
        </form>
      </div>